<nav class="navbar">
  <div class="navbar-left">
    <a href="/" class="nav-btn">Accueil</a>
  </div>
  <div class="navbar-right">
    <a href="/contracts/refresh" class="nav-btn refresh">Rafraîchir</a>
    <a href="/logout" class="nav-btn logout">Déconnexion</a>
  </div>
</nav>
