<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Panel EVE Online</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="box">
    <h1>Panel EVE Online</h1>
    <p>Connexion requise pour accéder au dashboard</p>

    <a href="/login">Se connecter avec EVE Online</a>
  </div>

  <footer>
    Version de l'application : <%= version %>
  </footer>
</body>
</html>